<tr>
    <td class="code"><%= code %></td>
    <td class="editable-cell">
        <span class="value"> <%= company_name %> </span>
        <label class="input-data">
            <input type="text" class="input company-name-input"/>
        </label>
    </td>
    <td class="editable-cell">
        <span class="value"><%= address %></span>
        <label class="input-data">
            <input type="text" class="input address-input"/>
        </label>
    </td>
    <td class="editable-cell">
        <span class="value"><%= contact_person_name %></span>
        <label class="input-data">
            <input type="text" class="input cont-person-name-input"/>
        </label>
    </td>
    <td class="editable-cell">
        <span class="value"><%= contact_person_tel %></span>
        <label class="input-data">
            <input type="tel" class="input cont-person-tel-input"/>
        </label>
    </td>
    <td class="editable-cell">
        <span class="value"><%= email %></span>
        <label class="input-data">
            <input type="email" class="input email-input"/>
        </label>
    </td>
    <td>
        <span ><%= sign_date %></span>
    </td>
    <td class="editable-cell">
        <span class="value"><%= break_date %></span>
        <label class="input-data">
            <input type="date" class="input break-date-input"/>
        </label>
    </td>
    <td class="editable-cell break-reason">
        <span class="value"><%= break_reason %></span>
        <label class="input-data">
            <input type="text" class="input break-reason-input"/>
        </label>
    </td>
</tr>