<tr class="product good-item">
    <td class="index"><%= index%></td>
    <td><%= good_code%></td>
    <td><%= goods_name%></td>
    <td><%= good_unit%></td>
    <td><%= unit_price%></td>
    <td><%= curr_amount%></td>

    <td class="editable-cell">
        <span class="value"><%= amount%></span>
        <!--<label class="input-data input-style">-->
            <!--<input type="number" class="input">-->
        <!--</label>-->
    </td>

    <td class="cost"><%= cost%></td>

    <td class="editable-cell reason-cell">
        <span class="value"><%= reason%></span>
        <!--<label class="input-data input-style">-->
            <!--<input type="text" class="input">-->
        <!--</label>-->
    </td>

    <td><img class="icon delete-icon" src="<%= url_object.template_directory%>/images/delete.svg"></td>
</tr>