<% function setIngStyle(ing) {
    if (!ing.is_available) {
        return "not-available";
    }
} %>
<% function isInMenuStyleAdd(ing) {
    if (ing.is_in_menu == 1) {
        return "none";
    } else {
        return "inline-block";
    }
} %>
<% function isInMenuStyleDel(ing) {
    if (ing.is_in_menu == 1) {
        return "inline-block";
    } else {
        return "none";
    }
} %>



<li class="dish">
    <div class="container">
        <% if(dish.is_ing_available == 0) { %>
            <span class="announce label label-danger">Недоступна</span>
        <% } %>

        <span style="display: <%= isInMenuStyleAdd(dish) %>" class="announce-menu label label-danger">Не в меню</span>

        <!--    only for chefs & barmen-->
        <div class="dish-btns-container">
            <% if(user_role == 'chef' || user_role == 'barman' || user_role == 'bookkeeper' || user_role == 'owner') { %>
                <span class="edit-label" id="edit_dish">
                <img src="<%= url_object.template_directory %>/images/edit.svg" alt="edit dish">
                </span>
            <% } %>

            <% if(user_role == 'chef' || user_role == 'barman') { %>
                <span style="display: <%= isInMenuStyleDel(dish) %>" class="delete-label" id="delete_dish_from_menu">
                <img src="<%= url_object.template_directory %>/images/trash.svg" alt="delete dish from menu">
                </span>
                <span style="display: <%= isInMenuStyleAdd(dish) %>" class="add-label" id="add_dish_to_menu">
                <img src="<%= url_object.template_directory %>/images/add-icon.png" alt="add dish to menu">
                </span>
            <% } %>
        </div>


        <div class="tech-card-num">
            <span id="tech_card_num"><%= dish.tech_card_num %></span>
        </div>
        <div class="top-panel">
            <!--<div class="img-cont">-->
            <!--<div class="image-wrap">-->
            <!--<img src="<%= url_object.template_directory %>/images/food/borsch1.jpg">-->
            <!--</div>-->
            <!--</div>-->
            <div class="inf-block">
                <h1 class="name"><%= dish.dish_name %></h1>
                <% if(dish.expiration_date) { %>
                    <h3 class="exp-date"><%= dish.expiration_date %></h3>
                <% } %>
                <!--<ul>-->
                <div class="details">
                    <div class="inf-details-block">
                        <div>
                            <img class="inf-icon weight"
                                 src="<%= url_object.template_directory %>/images/icon-weight.png">
                            <span  <% if(user_role == 'chef' || user_role == 'barman') { %>
                                    class="editable-item"
                                    <% } %>
                            >
                                <span class="val dish-weight"><%= dish.weight %> </span>

                            <label class="edit-input">
                                <input type="number" class="dish-weight-input" min="0">
                            </label>
                            г
                            </span>

                        </div>
                        <div>
                            <img class="inf-icon price"
                                 src="<%= url_object.template_directory %>/images/icon-price.png">

                            <span
                            <% if(user_role == 'owner' || user_role == 'bookkeeper') { %>
                                 class="editable-item"
                            <% } %>
                            >
                                <span class="dish-price-span val"><%= dish.price %></span>
                                 <label class="edit-input">
                                    <input type="number" class="dish-price-input" min="0">
                                 </label>
                                грн
                            </span>
                        </div>
                    </div>

                    <div class="inf-details-block">
                        <div>
                            <img class="inf-icon calories"
                                 src="<%= url_object.template_directory %>/images/icon-calories.png">
                            <span  <% if(user_role == 'chef' || user_role == 'barman') { %>
                                    class="editable-item"
                                    <% } %>
                            >
                                <span class="val dish-calories"><%= dish.calories %></span>
                                <label class="edit-input">
                                    <input type="number" class="dish-calories-input"  min="0">
                                </label>
                                ккал
                            </span>

                        </div>
                        <div>
                            <img class="inf-icon timer"
                                 src="<%= url_object.template_directory %>/images/icon-timer.png">
                            <span  <% if(user_role == 'chef' || user_role == 'barman') { %>
                                    class="editable-item"
                                    <% } %>
                            >
                                <span class="val dish-cooking-time"><%= dish.cooking_time %></span>
                                <label class="edit-input">
                                    <input type="number" class="dish-cooking-time-input" min="0">
                                 </label>
                                хв
                            </span>

                        </div>
                    </div>
                </div>
                <!--</ul>-->
            </div>
        </div>

        <hr class="separator">

        <div class="ingredient-cont">
            <ul class="ing-list toggle-area">
                <% for(var i = 0; i < dish.ings.length; i++) { %>
                    <li class="<%= setIngStyle(dish.ings[i]) %>">
                        <div class="ingredient">
                            <span class="ing-name">
                                <%= dish.ings[i].ing_name %>
                            </span>

                            <span class="ing-amount">
                                <%= dish.ings[i].amount %>
                                <%= dish.ings[i].units %>
                            </span>
                        </div>
                    </li>
                <% } %>
            </ul>
            <h3 class="show-ings toggle-btn">
                інгредієнти
                <img class="img-cont image-transition"
                     src="<%= url_object.template_directory %>/images/drop_down_icon.png">
            </h3>
        </div>

        <% if (choose_mode && dish.is_ing_available == 1 && dish.is_in_menu == 1) { %>
            <div class="button-cont">
                <button class="ok-btn btn-style">ДОДАТИ</button>
            </div>
        <% } %>
    </div>
</li>