<% function setIngStyle(ing) {
    if (!ing.is_available) {
        return "not-available";
    }
} %>

<li class="dish">
    <div class="container">
        <% if(dish.is_ing_available == 0) { %>
            <span class="announce label label-danger">Недоступна</span>
        <% } %>

        <!--    only for chefs & barmen-->
        <span class="delete-label">
        <img src="<%= url_object.template_directory %>/images/trash.svg" alt="delete dish">
    </span>

            <div class="tech-card-num">
                <span id="tech_card_num"><%= dish.tech_card_num%></span>
            </div>
        <div class="top-panel">
            <!--<div class="img-cont">-->
            <!--<div class="image-wrap">-->
            <!--<img src="<%= url_object.template_directory %>/images/food/borsch1.jpg">-->
            <!--</div>-->
            <!--</div>-->
            <div class="inf-block">
                <h1 class="name"><%= dish.dish_name %></h1>
                <% if(dish.expiration_date) { %>
                    <h3 class="exp-date"><%= dish.expiration_date %></h3>
                <% } %>
                <!--<ul>-->
                <div class="details">
                    <div class="inf-details-block">
                        <div>
                            <img class="inf-icon weight"
                                 src="<%= url_object.template_directory %>/images/icon-weight.png">
                            <span><%= dish.weight %> г</span>
                        </div>
                        <div>
                            <img class="inf-icon price"
                                 src="<%= url_object.template_directory %>/images/icon-price.png">
                            <span><span class="dish-price-span"><%= dish.price %></span> грн</span>
                        </div>
                    </div>

                    <div class="inf-details-block">
                        <div>
                            <img class="inf-icon calories"
                                 src="<%= url_object.template_directory %>/images/icon-calories.png">
                            <span><%= dish.calories %> ккал</span>
                        </div>
                        <div>
                            <img class="inf-icon timer"
                                 src="<%= url_object.template_directory %>/images/icon-timer.png">
                            <span><%= dish.cooking_time %> хв</span>
                        </div>
                    </div>
                </div>
                <!--</ul>-->
            </div>
        </div>

        <hr class="separator">

        <div class="ingredient-cont">
            <ul class="ing-list toggle-area">
                <% for(var i = 0; i < dish.ings.length; i++) { %>
                    <li class="<%= setIngStyle(dish.ings[i]) %>">
                        <div class="ingredient">
                            <span class="ing-name">
                                <%= dish.ings[i].ing_name %>
                            </span>
                        </div>
                    </li>
                <% } %>
            </ul>
            <h3 class="show-ings toggle-btn">
                інгредієнти
                <img class="img-cont image-transition"
                     src="<%= url_object.template_directory %>/images/drop_down_icon.png">
            </h3>
        </div>

        <% if (choose_mode && dish.is_ing_available == 1) { %>
            <div class="button-cont">
                <button class="ok-btn btn-style">ДОДАТИ</button>
            </div>
        <% } %>
    </div>
</li>