<tr class="product dish-ing-row">
    <td class="index"><%= index%></td>
    <td>
        <span><%= ing_name%></span>
    </td>
    <td>
        <span><%= ing_amount%></span>
    </td>
    <td><%= unit_price%></td>
    <td><%= gen_price%></td>
    <td><img class="icon delete-ing" src="<%= url_object.template_directory%>/images/delete.svg"></td>
</tr>