<li class="order-item">
    <div class="order-container">
        <div class="order-header-panel">
            <div class="order-num">
                <h2 style="visibility: hidden;" class="order-header">#<span id="order_num"><%= order.unique_num %></span></h2>
            </div>

            <div class="table-num-list">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-btn dropdown-btn-val" type="button">
                        <h2 class="order-header" id="table_num">1</h2>
                    </button>
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-btn dropdown-btn-img"
                            type="button" id="tableListDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        <img src="<%= url_object.template_directory %>/images/drop_down_icon.png">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">1</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">2</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">3</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">4</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">5</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">6</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">7</h2></a></li>
                        <li><a class="dropdown-item" href="#"><h2 class="order-header">8</h2></a></li>
                    </ul>
                </div>
            </div>

            <div class="order-time"><%= order.order_time %></div>
        </div>
        <div class="order-content">
            <ul>
                <% for(let i = 0; i < order.portions.length; i++) { %>
                    <li class="item">
                        <div class="item-info">
                            <span class="item-number"><%= i+1%></span>
                            <div class="text">
                                <span class="name"><%= order.portions[i].dish_name%></span>
                                <br/>
                                <span class="comment" id="comment_text"></span>
                            </div>
                            <div class="comment-icon">
                                <a class="modal-show-btn" data-toggle="modal" href="" id="add_comment_btn"><img
                                            src="<%= url_object.template_directory %>/images/add-comment2.png"
                                            alt="AddComment"/></a>
                            </div>
                        </div>

                        <input type="number" min="1" class="quantity" value="<%= order.portions[i].quantity%>">
                        <span class="price"><span class="dish-price"><%= order.portions[i].price%></span> грн</span>

                        <div class="modal fade show-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title comment-modal-title" id="modal_comment_title">
                                            Коментар</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="comment-input-class" id="input_comment">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-style save-modal-btn" id="save_comment"
                                                data-dismiss="modal">SAVE
                                        </button>
                                        <button type="button" class="btn btn-style close-modal-btn"
                                                data-dismiss="modal">CANCEL
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
                <li class="item add-new-item add-dish-btn">
                    <div class="item-info">
                        <div class="add-block">
                            <img src="<%= url_object.template_directory %>/images/add-icon.png" class="add-icon">
                            <span class="add-new-item-text">Додати страву</span>
                        </div>

                    </div>
                    <a href="#"><span></span></a>
                </li>
            </ul>

            <div class="total">
                <span>Всього</span>
                <span class="total-price"><span class="order-total-cost"><%= cost%></span> грн</span>
            </div>
            <div class="n-people">
                <span>Кількість людей</span>
                <label class="n-people-input">
                    <input type="number" id="n_people" min="1" placeholder="1" value="<%= order.n_people%>">
                </label>
            </div>

            <div class="control-buttons">
                <button class="ok-button control-btn btn-style" id="save_order_btn">Зберегти</button>
                <button class="cancel-button control-btn btn-style" id="delete_new_order_btn">Видалити</button>
            </div>
        </div>

    </div>
</li>
