<li class="order-item">
<div class="order-container">

    <% if (role != 'cook' && role != 'chef') { %>
    <div class="order-num">
        <h1>#<%= order.unique_num %></h1>
        <% if (mode !== 'history') { %>
        <a class="edit"><img src="<%= url %>/images/edit.svg" alt="Edit"/></a>
        <% } %>
    </div>
    <% } %>

    <% if (mode !== 'history') { %>
    <div class="table-num">
        <% if (role != 'cook' && role != 'chef' && !(role == 'barman' && !is_my_order)) { %>
            <a><img class="pay-order" src="<%= url %>/images/hand-2.svg" alt="Money"/></a>
            <!--<a href=""><img src="<%= url %>/images/hand.svg" alt="Card"/></a>-->
            <% if (role == 'administrator') { %>
                <a><img class="delete-order hide" src="<%= url %>/images/trash.svg" alt="DELETE"/></a>
            <% } %>
            <a><img class="close-order" style="display: none" src="<%= url %>/images/cancel.svg" alt="close"/></a>
        <% } %>
        <h1><%= order.table_num%></h1>
    </div>
    <% } %>

    <div class="order-time">
        <%= order.time_c %>
        <!--            - 11.30-->
    </div>

    <% if (mode === 'history' || role == 'cook' || role == 'chef' || (role == 'barman' && !is_my_order)) { %> %>
    <div class="personnel">
        <%= order.name %>
    </div>
    <% } %>


    <div class="content">
        <ul>
            <!-- ITEMS -->

            <% for(var i=0; i < order.portions.length; i++) { %>
            <% if (!(order.portions[i].is_ready == '1' && (role == 'chef' || role == 'cook')) &&
                    !((role == 'chef' || role == 'cook') && order.portions[i].department == 'бар') &&
                    !(role == 'barman' && order.portions[i].department == 'кухня') &&
                    !(role == 'barman' && !is_my_order &&  order.portions[i].is_served == '1')){ %>
                <li class="item item-<%= order.portions[i].unique_num %>">
                    <div class="item-info">
                        <% if (mode !== 'history') { %>
                        <input type="checkbox" class="box" id="box-<%= order.portions[i].unique_num %>"
                        <% if ( order.portions[i].is_served == '1' || (role == 'barman' && order.portions[i].is_ready == '1' )) { %>
                            <%= 'checked'%>
                            <% }%>>
                        <% } %>
                        <label for="box-<%= order.portions[i].unique_num %>">
                            <div class="box-<%= order.portions[i].unique_num %> text
                                    <% if ( order.portions[i].is_ready == '1' && role != 'barman') {%>
                                        <%=" is-ready";%>
                                    <% } %>
                                    <% if ( order.portions[i].is_served == '1' || (role == 'barman' && order.portions[i].is_ready == '1')) { %>
                                        <%=" is-served";%>
                                    <% } %>">
                                <span class="name"><%= order.portions[i].dish_name %></span><br/>
                                <% if (order.portions[i].special_wishes != null) { %>
                                <span class="comment">[<%= order.portions[i].special_wishes %>]</span>
                                <% } %>
                            </div>
                        </label>
                    </div>

                    <span class="quantity"><%= order.portions[i].quantity %></span>
                    <% if (role != 'cook' && role != 'chef') { %>
                        <span class="price"><%= order.portions[i].price %> грн</span>
                    <% } %>
                </li>
                <% } %>
            <% } %>



            <!--&lt;!&ndash; BREAK LINE&ndash;&gt;-->
            <!--<li><hr></li>-->

            <!--&lt;!&ndash; DISCOUNT &ndash;&gt;-->
            <!--<li class="discount">-->
                <!--<div class="item-info">-->
                    <!--<div class="text">-->
                        <!--<span>Знижка</span><br/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span class="quantity">%</span>-->
                <!--<span class="price"> грн</span>-->
            <!--</li>-->

            <% if (role != 'cook' && role != 'chef') { %>
            <!-- BREAK LINE-->
            <li><hr></li>

            <!-- TOTAL -->
            <li class="total">
                <span>Всього</span>
                <span class="total-price"><%= order.cost %> грн</span>
            </li>
            <% } %>
        </ul>
    </div>
</div>
</li>