<tr>
<td><%= tab_num %></td>
<td class="editable-cell">
    <span class="value"><%= first_name %></span>
    <label class="input-data input-style">
        <input type="text" class="input name-input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= surname %></span>
    <label class="input-data input-style">
        <input type="text" class="input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= father_name %></span>
    <label class="input-data input-style">
        <input type="text" class="input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= birth_date %></span>
    <label class="input-data input-style">
        <input type="date" class="input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= address %></span>
    <label class="input-data input-style">
        <input type="text" class="input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= gender %></span>
    <label class="input-data input-style">
        <select class="input">
            <option value="ч">ч</option>
            <option value="ж">ж</option>
        </select>
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= tel_num %></span>
    <label class="input-data input-style">
        <input type="tel" class="input">
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= position %></span>
    <label class="input-data input-style">
        <select class="input">
            <option value="офіціант">офіціант</option>
            <option value="бармен">бармен</option>
            <option value="кухар">кухар</option>
            <option value="бухгалтер">бухгалтер</option>
            <option value="адміністратор">адміністратор</option>
        </select>
    </label>
</td>
<td class="editable-cell">
    <span class="value"><%= salary %></span>
    <label class="input-data input-style">
        <input type="number" class="input">
    </label>
</td>
</tr>